/* Polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap');

/* CSS global */
:root {
    /* Rouge clair RGB(228, 55, 25) */
    --main-color: #E43719;
    /* Rouge foncé RGB(92, 25, 22)  */
    --second-color: #5C1916;
    /* Gris foncé  RGB(48, 48, 48)  */
    --third-color: #303030;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    //background-color: var(--third-color);
    background: url("../img/background.png") fixed center;
    background-size: cover;
}

/* CSS templates/base.html.twig */
div.container-fluid img {
    height: 30px;
}

a.btn-connection {
    margin-left: 25px;
}

body > nav.navbar {
    background-color: var(--third-color);
    border-bottom: 2px solid var(--main-color);
}

ul.navbar-nav > li {
    font-family: 'Cabin', sans-serif;
}

.navbar-nav > li.nav-item > a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav > li.nav-item > a:hover {
    color: var(--main-color);
}

/* CSS Formulaires */
form.d-flex button, a.btn-connection {
    border-color: var(--main-color);
}

form.d-flex button:hover, a.btn-connection:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

/* CSS offre/index.html.twig */
div.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.carousel-item {
    height: 500px;
}

div.carousel1 {
    background: url("../img/carousel1.jpg") no-repeat center;
    background-size: cover;
}

div.carousel2 {
    background: url("../img/carousel2.jpg") no-repeat center;
    background-size: cover;
}

div.carousel3 {
    background: url("../img/carousel3.jpg") no-repeat center;
    background-size: cover;
}

h1.carousel_titre {
    display: inline-block;
    position: relative;
    top: 380px;
    left: 30px;
    color: #ffffff;
    text-shadow: #000000 1px 0 10px;
    font-family: 'Cabin', sans-serif;
}

div.bloc_offres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

div.bloc_offre {
    display: flex;
    width: 900px;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    box-shadow: 0 0 15px #000000;
}

div.bloc_offre_img {
    display: flex;
    width: 25%;
    height: auto;
}

div.bloc_offre_img div.bloc_1 {
    width: 10px;
    height: 100%;
    background-color: var(--second-color);
}

div.bloc_offre_img div.bloc_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bloc_offre_img div.bloc_2 a {
    width: 175px;
    height: 175px;
}

div.bloc_offre_img div.bloc_2 a:hover {
    opacity: 0.7;
}

div.bloc_offre_img div.bloc_2 a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.bloc_offre_txt {
    width: 75%;
    height: auto;
}

div.bloc_offre_txt div.infos1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

div.bloc_offre_txt div.infos1_1 {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_1 a {
    text-decoration: none;
    font-weight: bold;
    color: var(--second-color);
}

div.infos1_1 a:hover {
    color: var(--main-color);
}

div.bloc_offre_txt div.infos1_2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

div.infos1_2 div.infos1_2_1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_2 div.infos1_2_2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-weight: bold;
    color: var(--second-color);
}

div.bloc_offre_txt div.infos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding-left: 20px;
    font-weight: bold;
}

div.infos2 div.infos2_1 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

div.infos2 div.infos2_2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

div.bloc_offre_txt p.description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    opacity: 0.7;
}

div.bloc_offre_txt div.infos3 {
    display: flex;
    flex-direction: row;
}

div.infos3 p.duree {
    height: 30px;
    padding-left: 20px;
}

div.infos3 p.niveau {
    height: 30px;
    padding-left: 20px;
}

div.infos3 p.duree span,
    div.infos3 p.niveau span {
    font-weight: bold;
}

/* CSS entreprise/index.html.twig */
div.entreprise_menu {
    height: 500px;
    background: url("../img/entreprise.jpg") no-repeat 75% 25%;
    background-size: cover;
    margin-bottom: 40px;
}

div.bloc_entreprises {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

div.bloc_entreprise {
    width: 220px;
    height: 300px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    box-shadow: 0 0 15px #000000;
}

div.bloc_entreprise > div.bord {
    width: 100%;
    height: 7px;
    background-color: var(--second-color);
}

div.infos_entreprise {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.infos_entreprise > a {
    width: 150px;
    height: 150px;
}

div.infos_entreprise > a > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.infos_entreprise > h3 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: var(--main-color);
}

div.infos_entreprise > p {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    color: var(--second-color);
    font-family: 'K2D', sans-serif;
    background-color: rgba(228, 55, 25, 0.7);
}

/* CSS security/index.html.twig */
form.login_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 98px);
    background: url("../img/fond_login.avif") no-repeat center;
    background-size: cover;
}

div.relative_bloc {
    position: absolute;
}

div.login_form {
    width: 30%;
    height: 80%;
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--third-color);
    box-shadow: 8px 8px 0 #000000;
}

div.login_form h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Archivo Black', sans-serif;
}

div.login_form input {
    margin-bottom: 20px;
    margin-top: 5px;
}

div.login_form label {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

div.login_form button {
    width: calc(100% - 50px);
    height: 38px;
    position: absolute;
    bottom: 22px;
    left: 0;
    margin-left: 25px;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
}
