/* Polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap');

/* CSS global */
:root {
    /* Rouge clair RGB(228, 55, 25) */
    --main-color: #E43719;
    /* Rouge foncé  RGB(92, 25, 22) */
    --second-color: #5C1916;
    /* Gris foncé   RGB(48, 48, 48) */
    --third-color: #303030;
    /* Blanc     RGB(231, 231, 231) */
    --fourth-color: #e7e7e7;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-top: 62px;
    background: url("../img/background.png") fixed center;
    background-size: cover;
}

/* Barre de défilement */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--third-color);
}

/* CSS templates/base.html.twig */
/* Barre du menu */
body > nav.navbar {
    background-color: var(--third-color);
    border-bottom: 2px solid var(--main-color);
}

div.container-fluid > a:first-child {
    height: 45px;
}

div.container-fluid > a:first-child > img {
    width: 100%;
    height: 100%;
}

div.container-fluid > a:nth-child(2) {
    height: 33px;
    margin-top: -10px;
}

div.container-fluid > a:nth-child(2) > img {
    height: 100%;
}

button.navbar-toggler {
    border: 1px solid var(--main-color);
}

button.navbar-toggler:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

button.navbar-toggler > span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(231,231,231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul.navbar-nav > li {
    font-family: 'Cabin', sans-serif;
}

.navbar-nav > li.nav-item > a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav > li.nav-item > a:hover {
    color: var(--main-color);
}

a.btn-connection {
    margin-left: 20px;
}

form.d-flex button, a.btn-connection {
    border-color: var(--main-color);
}

form.d-flex button:hover, a.btn-connection:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

/* Barre du footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 220px;
    margin-top: auto;
    border-top: 10px solid var(--main-color);
    background-color: var(--third-color);
}

footer > div.footer_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 120px;
}

div.footer_1 > img {
    width: 80px;
    height: 80px;
}

div.footer_1_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    margin-bottom: -5px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

div.footer_1_1 > img {
    width: 280px;
}

div.footer_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 165px;
    height: 80px;
}

div.footer_1_2 > h4 {
    color: #ffffff;
}

div.footer_1_2 > p {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
}

div.footer_1_2 a {
    color: #ffffff;
    text-decoration: none;
}

div.footer_1_2 a:hover {
    color: var(--main-color);
}

footer > div.footer_2 {
    width: 80%;
    height: 1px;
    border-radius: 5px;
    background-color: #ffffff;
}

footer > p:last-child {
    margin-top: 5px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--fourth-color);
}

/* CSS home/index.html.twig */
/* Menu home */
div.menu_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 220px;
    padding: 50px;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--fourth-color);
}

div.menu_bloc > h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--main-color);
}

div.menu_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

div.menu_items > h3 {
    margin: 0;
    font-family: 'K2D', sans-serif;
}

div.menu_items > h3 > a {
    text-decoration: none;
    color: var(--main-color);
}

div.menu_items > h3 > a:hover {
    color: var(--second-color);
}

div.menu_items > div.barre {
    width: 3px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--main-color);
}

/* Titre menu home */
div.titre_home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 25px 0 25px;
}

div.titre_home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.titre_home > div > h1 {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    color: var(--second-color);
}

/* CSS inscrire et offre */
div.taille1 {
    height: 150px;
}

div.taille2 {
    margin-bottom: 20px;
}

div.bloc_1_inscrire {
    width: 10px;
    height: 100%;
}

/* Formulaire */
form.form_offre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--fourth-color);
}

form.form_offre > div {
    padding: 10px 0 10px 0;
}

form.form_offre > div.radio_group {
    display: flex;
    flex-direction: column;
}

div.radio_group div {
    display: flex;
}

div.radio_group div label {
    margin-left: 10px;
}

form.form_offre > div.niveau_bac {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

div.niveau_bac > input {
    margin-left: 10px;
}

form.form_offre > div.radio_date {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.radio_date > input {
    margin-left: 10px;
}

form.form_offre > div.search {
    display: flex;
    width: 220px;
}

div.date_filtre {
    display: flex;
    flex-direction: column;
}

div.date_filtre > div {
    display: flex;
}

div.date_filtre > div > label {
    margin-left: 10px;
}

div.lieu {
    width: 150px;
}

/* Bouton de Connexion / Déconnexion */
button.style {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

button.style:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

/* Aucunes offres */
div.bloc_offres_vide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

div.bloc_offres_vide > h1 {
    color: var(--fourth-color);
    font-family: 'Cabin', sans-serif;
}

/* Liste des offres */
div.bloc_offres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 25px 0 25px;
}

/* CSS inscrire/index.html.twig */
/* Légende */
div.bloc_legende {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

div.bloc_legende > div {
    display: flex;
    align-items: center;
    width: 230px;
}

div.bloc_legende p {
    margin: 0 0 0 15px;
    font-family: 'Lexend', sans-serif;
}

div.bloc_legende_1 {
    border: 1px solid var(--main-color);
    width: 20px;
    height: 20px;
    background-color: #5EB85E;
}

div.bloc_legende_2 {
    border: 1px solid var(--main-color);
    width: 20px;
    height: 20px;
    background-color: #87CEEB;
}

div.bloc_legende_3 {
    border: 1px solid var(--main-color);
    width: 20px;
    height: 20px;
    background-color: #FF9AA2;
}

/* CSS offre/_offre.html.twig */
div.bloc_offre {
    display: flex;
    width: 900px;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.bloc_offre_img {
    display: flex;
    width: 25%;
}

div.bloc_offre_img > div.bloc_1 {
    width: 10px;
    height: 100%;
    background-color: var(--second-color);
}

div.bloc_offre_img > div.bloc_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bloc_offre_img > div.bloc_2 > a {
    width: 160px;
    height: 160px;
}

div.bloc_offre_img > div.bloc_2 > a:hover {
    opacity: 0.7;
}

div.bloc_offre_img div.bloc_2 > a > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.bloc_offre_txt {
    width: 75%;
}

div.bloc_offre_txt > div.infos1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

div.bloc_offre_txt > div.infos1 > div.infos1_1 {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_1 > a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--second-color);
}

div.infos1_1 > a:hover {
    color: var(--main-color);
}

div.bloc_offre_txt > div.infos1 > div.infos1_2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

div.infos1_2 > div.infos1_2_1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_2 > div.infos1_2_2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-weight: bold;
    color: var(--second-color);
}

div.bloc_offre_txt > div.infos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding-left: 20px;
    font-weight: bold;
}

div.infos2 > div.infos2_1 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

div.infos2 > div.infos2_2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

div.bloc_offre_txt > p.description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    opacity: 0.7;
}

div.bloc_offre_txt > div.infos3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.infos3 > p.duree {
    height: 30px;
    margin-left: 20px;
}

div.infos3 > p.niveau {
    height: 30px;
}

div.infos3 > form.inscrip-button {
    margin-right: 60px;
}

form.inscrip-button > button {
    transition: background-color 0.3s ease;
}

div.infos3 > p.duree > span,
    div.infos3 > p.niveau > span {
    font-weight: bold;
}

/* Menu de pagination */
div.custom-pagination {
    display: flex;
    justify-content: center;
}

div.custom-pagination a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    border: 1px solid var(--third-color);
    transition: background-color 0.3s ease;
}

div.custom-pagination a:hover {
    background-color: #b7b6b6;
}

div.custom-pagination span {
    color: black;
    font-size: 20px;
}

div.pagination {
    margin-bottom: 2px;
}

div.pagination span.current {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    color: var(--fourth-color);
    background-color: var(--second-color);
}

/* CSS offre/show.html.twig */
div.bloc_offre_infos {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--fourth-color);
}

div.bloc_offre_infos > div {
    width: 300px;
    height: 300px;
    margin: 25px;
}

div.bloc_offre_infos_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.bloc_offre_infos_1 > h2 {
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
}

div.bloc_offre_infos_1 > a {
    width: 200px;
    height: 200px;
}

div.bloc_offre_infos_1 > a > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

div.bloc_offre_infos_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.bloc_offre_infos_2 > h4 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

div.bloc_offre_infos_2 > p {
    font-family: 'Lexend', sans-serif;
    text-align: justify;
}

div.bloc_offre_infos_2 > p:first-child {
    font-weight: bold;
}

div.bloc_offre_infos_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.bloc_offre_infos_3 > div > h4 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

div.bloc_offre_infos_3 > div > p {
    font-family: 'Lexend', sans-serif;
}

div.bloc_offre_infos_3 button.show_button {
    width: 100%;
}

div.bloc_offre_infos_4 > h4 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

div.bloc_offre_infos_4 > p {
    font-family: 'Lexend', sans-serif;
}

/* Bloc de titre */
div.titre_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    border-bottom: 2px solid darkred;
    background: url("../img/background-info.png") no-repeat center;
    background-size: cover;
}

div.titre_bloc > h1 {
    font-size: 65px;
    background: -webkit-linear-gradient(var(--second-color), var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Impact', sans-serif;
}

/* CSS entreprise/index.html.twig */
div.bloc_entreprises {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

div.bloc_entreprise {
    width: 220px;
    height: 300px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.bloc_entreprise > div.bord {
    width: 100%;
    height: 7px;
    background-color: var(--second-color);
}

div.infos_entreprise {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.infos_entreprise > a {
    width: 150px;
    height: 150px;
}

div.infos_entreprise > a:hover {
    opacity: 0.8;
}

div.infos_entreprise > a > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.infos_entreprise > h3 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: var(--main-color);
}

div.infos_entreprise > p {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    color: var(--second-color);
    font-family: 'K2D', sans-serif;
    background-color: rgba(228, 55, 25, 0.7);
}

div.entreprise_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("../img/background-info.png") no-repeat center;
    background-size: cover;
}

/* CSS entreprise/show.html.twig */
div.details_entreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--fourth-color);
}

div.details_entreprise > div {
    margin: 10px;
}

div.details_entreprise > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

div.details_entreprise_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.details_entreprise_1 > h1 {
    font-family: 'Cabin', sans-serif;
}

div.details_entreprise_1 > p {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    color: var(--second-color);
    font-family: 'K2D', sans-serif;
    background-color: rgba(228, 55, 25, 0.7);
}

div.details_entreprise_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.details_entreprise_2 > h2 {
    font-family: 'K2D', sans-serif;
    font-weight: bold;
}

div.details_entreprise_2 > p {
    font-family: 'Jost', sans-serif;
}

div.details_entreprise_2 > p > a {
    font-weight: bold;
    color: var(--main-color);
}

div.details_entreprise_3 button {
    width: 200px;
    height: 200px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
}

div.details_entreprise_3 button:hover {
    opacity: 0.8;
}

/* CSS delete/modif/new/login */
div.login_bloc, form.login_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.login_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    position: relative;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
    background-color: var(--third-color);
    box-shadow: 8px 8px 0 #000000;
}

div.login_form > h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Archivo Black', sans-serif;
}

div.login_form label {
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

div.login_form button {
    width: 100%;
    height: 38px;
    margin-top: 40px;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
}

div.login_form button:hover {
    opacity: 0.65;
    transition: color 0.3s ease;
}

h4.register_account {
    margin-top: 15px;
    color: var(--fourth-color);
}

h4.register_account > a {
    color: var(--main-color);
}

h4.register_account > a:hover {
    opacity: 0.8;
}

/* CSS info_site/index.html.twig */
div.infos_a_propos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.infos_a_propos_1 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.infos_a_propos_1 > p {
    margin: 15px 0 0 0;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.infos_a_propos_2 {
    width: calc(100% - 100px);
    margin: 0 50px 50px 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.infos_a_propos_2_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

div.infos_a_propos_2_1 > div.membre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 480px;
    margin: 10px;
}

div.membre > img {
    width: 250px;
}

div.membre > h4 {
    margin-top: 5px;
    font-family: 'Comfortaa', sans-serif;
}

div.membre > p {
    margin-top: -8px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

div.membre > q {
    font-style: italic;
}

/* CSS info_site/conditions.html.twig */
div.conditions_bloc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.conditions_bloc_1 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.conditions_bloc_1 > p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.conditions_bloc_1 > p > a {
    color: var(--main-color);
}

div.conditions_bloc_1 > p > a:hover {
    color: var(--second-color);
}

/* CSS info_site/mentions.html.twig */
div.mentions_bloc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.mentions_bloc_1 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.mentions_bloc_1 > h3 {
    margin-bottom: 15px;
}

div.mentions_bloc_1 > p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.mentions_bloc_1 > p > a {
    color: var(--main-color);
}

div.mentions_bloc_1 > p > a:hover {
    color: var(--second-color);
}

/* CSS profil/index.html.twig */
div.bloc_profil {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.profil_1 {
    display: flex;
    width: 100%;
}

div.bloc_profil_1 {
    width: calc(100% - 100px);
    margin: 0 50px 25px 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.bloc_profil_1 button {
    width: 200px;
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
}

div.bloc_profil_1 button:hover {
    color: var(--fourth-color);
    background-color: var(--main-color);
}

div.ligne_profil {
    display: flex;
}

div.ligne_profil > p {
    margin-bottom: 20px;
    font-family: 'Comfortaa', sans-serif;
}

div.ligne_profil > p:first-child {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

div.ligne_profil > p:last-child {
    font-family: 'K2D', sans-serif;
}

/* CSS Media Queries */
/* Laptop screen */
@media screen and (min-width: 769px) and (max-width: 1500px) {
    /* CSS templates/base.html.twig */
    /* Footer du menu */
    footer > div.footer_1 {
        justify-content: space-between;
    }

    /* CSS home/index.html.twig */
    /* Menu home */
    div.menu_items > h3 {
        font-size: 25px;
    }

    /* CSS entreprise/index.html.twig */
    div.titre_bloc > h1 {
        font-size: 60px;
    }
}

/* Tablet screen */
@media screen and (min-width: 426px) and (max-width: 768px) {
    /* CSS templates/base.html.twig */
    /* Footer */
    footer > div.footer_1 {
        width: 100%;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }

    div.footer_1 > img {
        width: 50px;
        height: 50px;
    }

    div.footer_1_1 > img {
        height: 25px;
    }

    div.footer_1_2 > h4 {
        font-size: 20px;
    }

    div.footer_1_2 > p {
        font-size: 14px;
    }

    /* CSS home/index.html.twig */
    /* Menu home */
    div.menu_bloc > h1 {
        font-size: 30px;
    }

    div.menu_items > h3 {
        font-size: 18px;
    }

    div.menu_items > div.barre {
        width: 2px;
        height: 20px;
    }

    /* CSS offre/_offre.html.twig */
    div.bloc_offre_img {
        width: 35%;
    }

    div.bloc_offre_txt {
        width: 65%;
    }

    div.infos1_1 > a {
        font-size: 17px;
    }

    div.infos1_2 {
        margin-left: -30px;
    }

    div.infos1_2 * {
        font-size: 13px;
    }

    div.infos2 * {
        font-size: 13px;
    }

    div.infos2_1 {
        width: 40%;
    }

    div.infos2_2 {
        width: 60%;
        padding-right: 5px;
    }

    p.description {
        font-size: 12px;
    }

    div.infos3 {
        margin-top: -7px;
    }

    div.infos3 > p.duree,
    div.infos3 > p.niveau {
        font-size: 13px;
    }

    p.duree > span,
    p.niveau > span {
        display: block;
    }

    form.inscrip-button > button {
        margin-right: -40px;
    }

    /* CSS entreprise/index.html.twig */
    div.titre_bloc > h1 {
        font-size: 45px;
    }
}

/* Phone screen */
@media screen and (max-width: 426px) {
    body {
        margin-top: 57px;
    }

    /* CSS home/index.html.twig */
    /* Barre du menu */
    body > nav.navbar {
        padding-bottom: 10px;
    }

    div.container-fluid > a:first-child {
        height: 40px;
    }

    div.container-fluid > a:nth-child(2) {
        height: 28px;
    }

    /* Menu home */
    div.menu_bloc > h1 {
        font-size: 23px;
    }

    div.menu_items {
        width: 100%;
    }

    div.menu_items > h3 {
        font-size: 9px;
    }

    div.menu_items > div.barre {
        width: 2px;
        height: 10px;
    }

    /* Titre menu home */
    div.titre_home > div > h1 {
        font-size: 20px;
    }

    /* Footer */
    footer > div.footer_1 {
        width: 95%;
    }

    div.footer_1 > img {
        width: 40px;
        height: 40px;
    }

    div.footer_1_1 > img {
        width: 115px;
    }

    div.footer_1_2 {
        width: 100px;
    }

    div.footer_1_2 > h4 {
        font-size: 15px;
    }

    div.footer_1_2 > p {
        font-size: 8px;
    }

    footer > p:last-child {
        font-size: 10px;
    }

    /* CSS offre/_offre.html.twig */
    div.bloc_offre {
        flex-direction: column;
    }

    div.bloc_offre_img {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    div.bloc_offre_txt {
        width: 100%;
    }

    div.bloc_offre_txt > div.infos1 {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }

    div.bloc_offre_txt > div.infos1 > div.infos1_1 {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    div.infos1_1 > a {
        font-size: 20px;
    }

    div.bloc_offre_txt > div.infos1 > div.infos1_2 {
        display: none;
    }

    div.bloc_offre_txt > div.infos2 {
        display: none;
    }

    div.infos2_1 > p, p.description,
    div.infos3 > p {
        display: none;
    }

    div.bloc_offre_txt > div.infos3 {
        justify-content: center;
        align-items: center;
    }

    div.infos3 > form.inscrip-button {
        margin: 0;
    }

    /* Bloc de titre */
    div.titre_bloc > h1 {
        text-align: center;
        font-size: 32px;
    }

    form.form_offre * {
        font-size: 7px;
    }

    /* Pagination */
    div.pagination * {
        font-size: 15px;
    }

    div.pagination span.current {
        font-size: 15px;
    }

    /* CSS profil/index.html.twig */
    div.ligne_profil {
        flex-direction: column;
    }

    div.ligne_profil > p:first-child {
        margin: 0;
        font-size: 12px;
    }

    div.ligne_profil > p:last-child {
        font-size: 12px;
    }

    div.bloc_profil_1 button {
        width: 165px;
        margin-top: 10px;
        font-size: 12px;
    }

    /* CSS info_site/conditions.html.twig */
    div.conditions_bloc_1 > h3 {
        font-size: 15px;
    }

    div.conditions_bloc_1 > h4 {
        font-size: 13px;
    }

    div.conditions_bloc_1 > p {
        font-size: 10px;
    }

    /* CSS info_site/index.html.twig */
    div.infos_a_propos_1 > h3 {
        font-size: 15px;
    }

    div.infos_a_propos_1 > p {
        font-size: 10px;
    }

    div.infos_a_propos_2 > h3 {
        font-size: 15px;
    }

    div.infos_a_propos_2_1 > div.membre {
        width: 140px;
        height: 300px;
    }

    div.membre > img {
        width: 100%;
    }

    div.membre > h4 {
        font-size: 15px;
    }

    div.membre > p {
        font-size: 12px;
    }

    div.membre > q {
        text-align: center;
        font-size: 10px;
    }

    /* CSS info_site/mentions.html.twig */
    div.mentions_bloc_1 > h3 {
        font-size: 15px;
    }

    div.mentions_bloc_1 > h4 {
        font-size: 13px;
    }

    div.mentions_bloc_1 > p {
        font-size: 10px;
    }

    /* CSS inscrire/index.html.twig */
    div.bloc_1_inscrire {
        width: 100%;
        height: 10px;
        margin-top: -10px;
        margin-bottom: 3px;
    }

    div.bloc_legende p {
        font-size: 10px;
    }

    div.bloc_legende > div {
        margin-top: 5px;
    }

    /* CSS profil/delete.html.twig */
    div.login_form {
        width: 275px;
    }

    div.login_form > h1 {
        font-size: 20px;
    }

    div.login_form button {
        font-size: 15px;
    }

    /* CSS profil/modif.html.twig */
    div.login_form label {
        font-size: 12px;
    }

    input.form-control, div.form-control {
        font-size: 12px;
    }

    /* CSS security/login.html.twig */
    h4.register_account {
        font-size: 15px;
    }
}
