/* Polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap');

/* CSS global */
:root {
    /* Rouge clair RGB(228, 55, 25) */
    --main-color: #E43719;
    /* Rouge foncé  RGB(92, 25, 22) */
    --second-color: #5C1916;
    /* Gris foncé   RGB(48, 48, 48) */
    --third-color: #303030;
    /* Blanc     RGB(231, 231, 231) */
    --fourth-color: #e7e7e7;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    background: url("../img/background.png") fixed center;
    background-size: cover;
}

/* Barre de défilement */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--third-color);
}

/* CSS templates/base.html.twig */
div.container-fluid > a {
    height: 30px;
}

div.container-fluid > a > img {
    height: 100%;
}

li.space {
    margin-right: 25px;
}

li.space > a > img {
    height: 20px;
}

a.btn-connection {
    margin-left: 25px;
}

body > nav.navbar {
    background-color: var(--third-color);
    border-bottom: 2px solid var(--main-color);
}

ul.navbar-nav > li {
    font-family: 'Cabin', sans-serif;
}

.navbar-nav > li.nav-item > a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav > li.nav-item > a:hover {
    color: var(--main-color);
}

form.d-flex button, a.btn-connection {
    border-color: var(--main-color);
}

form.d-flex button:hover, a.btn-connection:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    border-top: 10px solid var(--main-color);
    background-color: var(--third-color);
}

footer > div.footer_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 120px;
}

div.footer_1 > img {
    width: 80px;
    height: 80px;
}

div.footer_1_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    margin-bottom: -5px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

div.footer_1_1 > img {
    width: 280px;
}

div.footer_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 165px;
    height: 80px;
}

div.footer_1_2 > h4 {
    color: #ffffff;
}

div.footer_1_2 > p {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
}

div.footer_1_2 a {
    color: #ffffff;
    text-decoration: none;
}

div.footer_1_2 a:hover {
    color: var(--main-color);
}

footer > div.footer_2 {
    width: 80%;
    height: 1px;
    border-radius: 5px;
    background-color: #ffffff;
}

footer > p {
    color: #ffffff;
    font-family: 'K2D', sans-serif;
}

/* CSS home/index.html.twig */
div.menu_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 220px;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--fourth-color);
}

div.menu_bloc > h1 {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: var(--main-color);
}

div.menu_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

div.menu_items > h3 {
    margin: 0;
    font-family: 'K2D', sans-serif;
}

div.menu_items > h3 > a {
    text-decoration: none;
    color: var(--main-color);
}

div.menu_items > h3 > a:hover {
    color: var(--second-color);
}

div.menu_items > div.barre {
    width: 3px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--main-color);
}

div.titre_home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

div.titre_home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
    border-radius: 10px ;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.titre_home > div > h1 {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    color: var(--second-color);
}

/* CSS offre/index.html.twig */
div.titre_offre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid darkred;
    background: url("../img/background-info.png") no-repeat center;
    background-size: cover;
}

div.titre_offre > h1 {
    font-size: 65px;
    background: -webkit-linear-gradient(var(--second-color), var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Impact', sans-serif;
}

form.form_offre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--fourth-color);
}

form.form_offre > div.radio_group {
    display: flex;
    flex-direction: column;
}

div.radio_group div {
    display: flex;
}

div.radio_group div label {
    margin-left: 10px;
}

form.form_offre > div.niveau_bac {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

div.niveau_bac > input {
    margin-left: 10px;
}

form.form_offre > div.radio_date {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.radio_date > input {
    margin-left: 10px;
}

form.form_offre > div.search {
    display: flex;
    width: 220px;
}

button.style {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

button.style:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

div.date_filtre {
    display: flex;
    flex-direction: column;
}

div.date_filtre > div {
    display: flex;
}

div.date_filtre > div > label {
    margin-left: 10px;
}

div.bloc_offres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

div.bloc_offre {
    display: flex;
    width: 900px;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.bloc_offre_img {
    display: flex;
    width: 25%;
    height: auto;
}

div.bloc_offre_img div.bloc_1 {
    width: 10px;
    height: 100%;
    background-color: var(--second-color);
}

div.bloc_offre_img div.bloc_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.bloc_offre_img div.bloc_2 a {
    width: 175px;
    height: 175px;
}

div.bloc_offre_img div.bloc_2 a:hover {
    opacity: 0.7;
}

div.bloc_offre_img div.bloc_2 a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.bloc_offre_txt {
    width: 75%;
    height: auto;
}

div.bloc_offre_txt div.infos1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

div.bloc_offre_txt div.infos1_1 {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_1 a {
    text-decoration: none;
    font-weight: bold;
    color: var(--second-color);
}

div.infos1_1 a:hover {
    color: var(--main-color);
}

div.bloc_offre_txt div.infos1_2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

div.infos1_2 div.infos1_2_1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

div.infos1_2 div.infos1_2_2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-weight: bold;
    color: var(--second-color);
}

div.bloc_offre_txt div.infos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding-left: 20px;
    font-weight: bold;
}

div.infos2 div.infos2_1 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

div.infos2 div.infos2_2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

div.bloc_offre_txt p.description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    opacity: 0.7;
}

div.bloc_offre_txt div.infos3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.infos3 p.duree {
    height: 30px;
    margin-left: 20px;
}

div.infos3 p.niveau {
    height: 30px;
}

div.infos3 .inscrip-button {
    margin-right: 60px;
}

div.infos3 p.duree span,
    div.infos3 p.niveau span {
    font-weight: bold;
}

div.custom-pagination {
    display: flex;
    justify-content: center;
}

div.custom-pagination a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

div.custom-pagination span {
    color: black;
    font-size: 20px;
}

div.pagination {
    margin-bottom: 2px;
}

div.pagination span.current {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    color: var(--fourth-color);
    background-color: var(--second-color);
}

/* CSS entreprise/index.html.twig */
div.entreprise_menu {
    height: 500px;
    background: url("../img/entreprise.jpg") no-repeat 75% 25%;
    background-size: cover;
    margin-bottom: 40px;
}

div.details_entreprise {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: var(--fourth-color);
}

div.details_entreprise > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

div.details_entreprise_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.details_entreprise_1 > h1 {
    font-family: 'Cabin', sans-serif;
}

div.details_entreprise_1 > p {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    color: var(--second-color);
    font-family: 'K2D', sans-serif;
    background-color: rgba(228, 55, 25, 0.7);
}

div.details_entreprise_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.details_entreprise_2 > h2 {
    font-family: 'K2D', sans-serif;
    font-weight: bold;
}

div.details_entreprise_2 > p {
    font-family: 'Jost', sans-serif;
}

div.details_entreprise_2 > p > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

button.btn-offres-entreprise {
    width: 200px;
    height: 200px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
}

button.btn-offres-entreprise:hover {
    opacity: 0.8;
}

div.bloc_entreprises {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

div.bloc_entreprise {
    width: 220px;
    height: 300px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.bloc_entreprise > div.bord {
    width: 100%;
    height: 7px;
    background-color: var(--second-color);
}

div.infos_entreprise {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.infos_entreprise > a {
    width: 150px;
    height: 150px;
}

div.infos_entreprise > a:hover {
    opacity: 0.8;
}

div.infos_entreprise > a > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.infos_entreprise > h3 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: var(--main-color);
}

div.infos_entreprise > p {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    color: var(--second-color);
    font-family: 'K2D', sans-serif;
    background-color: rgba(228, 55, 25, 0.7);
}

/* CSS security/index.html.twig */
form.login_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 98px);
    background: url("../img/fond_login.avif") no-repeat center;
    background-size: cover;
}

div.relative_bloc {
    position: absolute;
}

div.login_form {
    width: 30%;
    height: 80%;
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--third-color);
    box-shadow: 8px 8px 0 #000000;
}

div.login_form h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Archivo Black', sans-serif;
}

div.login_form input {
    margin-bottom: 20px;
    margin-top: 5px;
}

div.login_form label {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

div.login_form button {
    width: calc(100% - 50px);
    height: 38px;
    position: absolute;
    bottom: 22px;
    left: 0;
    margin-left: 25px;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
}

div.login_form button:hover {
    background-color: var(--second-color);
}

/* CSS info_site/index.html.twig */
div.infos_a_propos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.infos_a_propos_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

div.infos_a_propos_1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
    border-radius: 10px ;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.infos_a_propos_1 > div > h1 {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: var(--second-color);
}

div.infos_a_propos_2 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.infos_a_propos_2 > p {
    margin: 15px 0 0 0;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.infos_a_propos_3 {
    width: calc(100% - 100px);
    margin: 0 50px 50px 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.infos_a_propos_3_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

div.membre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 480px;
    margin: 10px;
}

div.membre > img {
    width: 250px;
}

div.membre > h4 {
    margin-top: 5px;
    font-family: 'Comfortaa', sans-serif;
}

div.membre > p {
    margin-top: -8px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

div.membre > q {
    font-style: italic;
}

/* CSS info_site/conditions.html.twig */
div.conditions_bloc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.conditions_bloc_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

div.conditions_bloc_1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 100%;
    border-radius: 10px ;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.conditions_bloc_1 > div > h1 {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: var(--second-color);
}

div.conditions_bloc_2 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.conditions_bloc_2 > p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.conditions_bloc_2 > p > a {
    text-decoration: none;
    color: var(--main-color);
}

div.conditions_bloc_2 > p > a:hover {
    color: var(--second-color);
}

.custom-pagination a:hover {
    background-color: #b7b6b6;
}

/* CSS info_site/mentions.html.twig */
div.mentions_bloc {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.mentions_bloc_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

div.mentions_bloc_1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 100%;
    border-radius: 10px ;
    overflow: hidden;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.mentions_bloc_1 > div > h1 {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: var(--second-color);
}

div.mentions_bloc_2 {
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    box-shadow: 0 0 15px #000000;
}

div.mentions_bloc_2 > h3 {
    margin-bottom: 15px;
}

div.mentions_bloc_2 > p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Comfortaa', sans-serif;
}

div.mentions_bloc_2 > p > a {
    text-decoration: none;
    color: var(--main-color);
}

div.mentions_bloc_2 > p > a:hover {
    color: var(--second-color);
}
