{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>👤</text></svg>">
{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil :</h1>

    <p>Nom : {{ app.user.firstName }}</p>
    <p>Prenom : {{ app.user.lastName }}</p>
    <p>Téléphone : {{ app.user.phone }}</p>
    <p>Adresse mail : {{ app.user.email }}</p>

{% endblock %}
