{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier les informations du profil</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

