{% extends 'base.html.twig' %}

{% block icon %}📜{% endblock %}
{% block title %}Conditions Générales D'Utilisation{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc taille1">
        <h1>CONDITIONS GÉNÉRALES</h1>
    </div>
    <br>
    <div class="conditions_bloc">
        <div class="conditions_bloc_1">
            <h3>Bienvenue sur EduTech !</h3>
            <p>Veuillez lire attentivement ces Conditions Générales d'Utilisation ("Conditions") avant d'utiliser EduTech ("le Site"). En utilisant le Site, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas ces Conditions, veuillez ne pas utiliser le Site.</p>

            <h4>1. Inscription et Compte</h4>
            <p>1.1 Pour accéder à certaines fonctionnalités du Site, vous devrez créer un compte. Vous êtes responsable de maintenir la confidentialité de vos informations de compte et de toute activité qui se produit sous votre compte.</p>
            <p>1.2 Vous acceptez de fournir des informations précises, à jour et complètes lors de votre inscription et de mettre à jour rapidement ces informations pour les maintenir à jour.</p>

            <h4>2. Utilisation du Site</h4>
            <p>2.1 Vous vous engagez à utiliser le Site conformément à toutes les lois et réglementations applicables.</p>
            <p>2.2 Vous ne devez pas utiliser le Site d'une manière qui pourrait endommager, désactiver, surcharger ou nuire au fonctionnement du Site.</p>

            <h4>3. Offres de Stage ou Alternance</h4>
            <p>3.1 EduTech fournit une plateforme pour l'inscription et la désinscription d'offres de stage ou alternance.</p>
            <p>3.2 Les employeurs sont entièrement responsables du contenu des offres qu'ils publient sur le Site.</p>
            <p>3.3 Les utilisateurs acceptent de recevoir des communications liées aux offres de stage ou alternance via les informations de contact fournies lors de l'inscription.</p>

            <h4>4. Désinscription</h4>
            <p>4.1 Les utilisateurs ont le droit de se désinscrire à tout moment en suivant les procédures indiquées sur le Site.</p>
            <p>4.2 EduTech se réserve le droit de résilier ou suspendre un compte utilisateur en cas de violation des présentes Conditions.</p>

            <h4>5. Propriété Intellectuelle</h4>
            <p>5.1 Le contenu du Site, y compris mais sans s'y limiter, le texte, les graphiques, les logos, les images, les clips audio et vidéo, est la propriété de EduTech et est protégé par les lois sur le droit d'auteur.</p>
            <p>5.2 Vous acceptez de ne pas reproduire, distribuer, modifier, afficher, publier, vendre ou exploiter de quelque manière que ce soit le contenu du Site.</p>

            <h4>6. Modification des Conditions</h4>
            <p>6.1 EduTech se réserve le droit de modifier ces Conditions à tout moment. Les modifications prendront effet dès leur publication sur le Site.</p>

            <h4>7. Loi Applicable</h4>
            <p>7.1 Ces Conditions sont régies par les lois en vigueur en France. Tout litige découlant de ces Conditions sera soumis à la juridiction exclusive des tribunaux de Reims.</p>

            <p>En utilisant ce Site, vous acceptez ces Conditions Générales d'Utilisation. Si vous avez des questions, veuillez nous contacter à <a href="mailto:edutech@gmail.com">edutech@gmail.com</a>.</p>
        </div>
        <br>
    </div>
{% endblock %}
