{% extends 'base.html.twig' %}

{% block icon %}👥{% endblock %}
{% block title %}Conditions Générales D'utilisation{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div></div>
{% endblock %}