{% extends 'base.html.twig' %}

{% block icon %}👥{% endblock %}
{% block title %}Mentions Légales{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc taille1">
        <h1>MENTIONS LÉGALES</h1>
    </div>
    <br>
    <div class="mentions_bloc">
        <div class="mentions_bloc_1">
            <h3>MENTIONS LÉGALES</h3>
            <h4>1. Informations légales</h4>
            <p>Le site EduTech est édité par Etudiant&Co, une Société à Responsabilité Limitée (SARL) au capital de 1 euro symbolique, immatriculée au Registre du Commerce et des Sociétés de Reims sous le numéro 123 456 789, dont le siège social est situé Chemin des Rouliers, 51687 Reims.</p>
            <p>Contact : <a href="mailto:edutech@gmail.com">edutech@gmail.com</a></p>
            <p>Téléphone : <a href="tel:+33326913002">03 26 91 30 02</a></p>

            <h4>2. Hébergement</h4>
            <p>Le site est hébergé juste là, dont le siège social est situé juste ici.</p>

            <h4>3. Collecte et traitement des données personnelles</h4>
            <p>Conformément à la législation en vigueur, Etudiant&Co collecte et traite les données personnelles des utilisateurs du site dans le respect de sa politique de confidentialité. Pour plus d'informations, veuillez consulter notre politique de confidentialité disponible sur la page <a href="{{ path('app_conditions') }}">Conditions Générales D'Utilisation</a>.</p>

            <h4>4. Propriété intellectuelle</h4>
            <p>Le contenu du site, y compris les textes, images, vidéos, et autres éléments, est la propriété exclusive de Etudiant&Co ou de ses partenaires. Toute reproduction ou utilisation sans autorisation préalable est strictement interdite.</p>

            <h4>5. Conditions d'utilisation</h4>
            <p>En accédant et en utilisant ce site, l'utilisateur accepte les présentes conditions d'utilisation. Etudiant&Co se réserve le droit de modifier ces conditions à tout moment.</p>

            <h4>6. Droit applicable et juridiction compétente</h4>
            <p>Les présentes mentions légales sont régies par le droit applicable en France. En cas de litige, les tribunaux de Reims seront seuls compétents.</p>

            <h3>INSCRIPTION ET DÉSINSCRIPTION</h3>
            <h4>1. Inscription</h4>
            <p>En vous inscrivant sur notre site, vous acceptez de fournir des informations exactes et complètes. Etudiant&Co se réserve le droit de suspendre ou de résilier votre compte en cas de non-respect de ces conditions.</p>

            <h4>2. Désinscription</h4>
            <p>Vous pouvez à tout moment demander la désinscription de votre compte en nous contactant à <a href="mailto:edutech@gmail.com">edutech@gmail.com</a>. Vos données seront alors supprimées conformément à notre politique de confidentialité.</p>

            <h4>3. Offres d'alternance ou de stage</h4>
            <p>Les offres d'alternance ou de stage publiées sur notre site sont fournies par des tiers. Etudiant&Co ne garantit pas l'exactitude ou la fiabilité de ces offres et ne peut être tenu responsable des conséquences liées à leur utilisation.</p>
        </div>
        <br>
    </div>
{% endblock %}
