{% extends 'base.html.twig' %}

{% block title %}InscireController!{% endblock %}

{% block body %}
    {% for inscription in inscriptions %}
        <li>{{ inscription.Offre.nomOffre }}</li>
    {% endfor %}
{% endblock %}
